.map-container {
    width: 100%;
    max-width: 100%;
    min-height: 650px;
    height: 100%;
}
body, .navbar-default{background: silver;}
/* Begin: Screens */
.splashScreen{
    background: url('http://localhost:3000/splash.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    min-height: 100%;
    min-width: 1024px;

    width: 100%;
    height: auto;

    position: fixed;
    top: 0;
    left: 0;
}
.startScreen{
    background: url('http://localhost:3000/start.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    min-height: 100%;
    min-width: 1024px;

    width: 100%;
    height: auto;

    position: fixed;
    top: 0;
    left: 0;
}
/* End: Screens */
