a{
    text-decoration: none!important;
}
.map-container {
    width: 100%;
    max-width: 100%;
    min-height: 650px;
    height: 100%;
}
.modal-dialog{
    width: 28em;
    height: 11em;
    padding: 10px;
    background-color: #ffe670;
    z-index: 999;
    border-radius: 3em;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translateY(-50%);
}
.cat-title{text-align: center;}
.cat-description{text-align: center;font-family: 'Roboto', sans-serif;}
.cat-face{width: 10em;}
.cat-list{
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    margin: 5em 0 0 0;
    padding: 0;
}
.cat-list li{
    background: transparent;
    color: #333;
    position: relative;
}
body, .navbar-default{background: silver;}
/* Begin: Screens */
.splashScreen{
    background: url('http://localhost:3000/splash.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    min-height: 100%;
    min-width: 1024px;

    width: 100%;
    height: auto;

    position: fixed;
    top: 0;
    left: 0;
}
.startScreen{
    background: url('/start1.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    min-height: 100%;
    min-width: 1024px;

    width: 100%;
    height: auto;

    position: fixed;
    top: 0;
    left: 0;
}
/* End: Screens */

/*BEGIN : MAP PAGE*/
.questSideBar{
    width: 15%;
    background: white;
    -webkit-box-shadow: 3px 0px 9px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 0px 9px -1px rgba(0,0,0,0.75);
    box-shadow: 3px 0px 9px -1px rgba(0,0,0,0.75);
    height: 100%;
    float: left;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 9999;
}

.mapContainer{
    float: left;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.headerSidebar{
    background: url("/questSidebarHeaderCat.jpg") no-repeat center center;
    background-size: contain;
    margin: 20px 0 20px 0;
    width: 100%;
    height: 70px;
    text-align: center;
}

p.headerSidebarText{
    display: inline-block;
    text-align: center;
    width: 100%;
}

.questSideBar ul{
    list-style: none;
}

.questSideBar ul li{
    background: url("/questSidePointGrey.jpg") no-repeat left center;
    width: 100%;
    height: 60px;
    background-size: contain;
    text-align: center;
    margin: 5px 0 0 0;
    color: #DADADA;
    font-size: 16px;
}

.questSideBar ul li p.text{
    display: inline-block;
    margin: 35px 0 0 20px;
}

.questSideBar ul li.active{
    background: url("/questSidePointGreen.jpg") no-repeat left center;
    width: 100%;
    height: 60px;
    background-size: contain;
    text-align: center;
    margin: 5px 0 0 0;
    color: #1DAC80;
    font-size: 16px;
}

.to-map-button{
    background: url("/start_quest_button.png") no-repeat left center;
    background-size: cover;
    width: 22em;
    height: 5em;
    margin: 5em 5em 0 0;
    display: block;
    position: absolute;
    bottom: 0;
    right:0;
}

.cat-modal-details{
    width: 6em;
    margin: 1em;
    float: left;
}

.modal-close{
    float: right;
    margin: 0 2em 2em 0;
    color: #333;
}


.questSideBar ul li.lastPoint{
    background: url("/lastoneGray.png") no-repeat left center;
    width: 100%;
    height: 40px;
    background-size: contain;
    text-align: center;
    margin: 35px 0 0 0;
    color: #1DAC80;
    font-size: 16px;
}

.questSideBar ul li.lastPoint.active{
    background: url("/lastoneSidebar.png") no-repeat left center;
}

.marker1Info{
    background: url("/marker1Pic.png") no-repeat center center;
    width: 590px;
    height: 504px;
    background-size: contain;
}
.marker2Info{
    background: url("/marker2Picture.png") no-repeat center center;
    width: 590px;
    height: 504px;
    background-size: contain;
}
.markerFinalInfo{
    background: url("/markerFinalPicture.png") no-repeat center center;
    width: 590px;
    height: 504px;
    background-size: contain;
}
